@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 26px;
  color: white;
  background-color: #0f0f11;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border: solid 1px;
  /*border-radius: 30px;*/
  color: white;
  background-color: #1a1a1e;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateZ(0);
  position: sticky;
  top: 0;
  z-index: 999;
}

.button-header a {
  font-size: 16px;
  margin-left: auto;
  border: none;
  color: white;
  background-color: transparent;
  margin-left: 20px;
  cursor: pointer;
  transition: 1.6s;
  text-decoration: none;
}

.button-header a:hover {
  transition: 0.6s;
  color: rgba(140, 132, 132, 0.609);
}

#secao-inicio {
  scroll-margin-top: 300px;
}

/*
.header:hover {
  transform: scale(1.2);
}
*/

.span-header-title {
  font-weight: bold;
  color: #a0a0a5;;
  font-size: 22px;
}

.titulo {
  text-align: center;
  margin-top: 100px;
  padding: 0 20px;
}

.titulo h1 {
  font-family: 'Montserrat';
  font-size: 52px;
  margin-bottom: 10px;
}

.caixa {
  width: 500px;
  margin: 40px auto;
  padding: 25px;
  text-align: center;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
}

.caixa2 {
  max-width: 1000px;
  text-align: center;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
}

.caixa3 {
  max-width: 1000px;
  text-align: center;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
}

#secao-graficos {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  scroll-margin-top: 210px;
}

#secao-sobre {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  scroll-margin-top: 200px;
}

#nivel-atual {
  font-family: 'Roboto Mono', monospace;
}
.container-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.card1 {
  min-width: 250px;
  max-width: 350px;
  max-height: 200px;
  min-height: 200px;
  padding: 26px;
  text-align: left;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
  transition: padding 1s ease, transform 0.3s ease;
}

.card1 strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;
  text-align: center;
}

.card1 p {
  font-size: 26px;
  color: #a0a0a5;  
}

.card1:hover {
  transform: scale(1.05);
  padding: 50px;
}

.caixa4 {
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
}

.card1-1 {
  min-width: 250px;
  max-width: 150px;
  max-height: 200px;
  min-height: 200px;
  padding: 26px;
  text-align: center;
  border: 1px solid #2d2d34;
  border-radius: 16px;
  background-color: #16161a;
  transition: padding 1s ease, transform 0.3s ease;
}

.card1-1:hover {
  transform: scale(1.05);
  padding: 50px;
  cursor: pointer;
}

.container-cards-follow {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}

/*Gráficos*/
#grafico1 {
  width: 500px;
  height: 300px;
}